{
  // I want to use babel-eslint for parsing!
  "parser": "babel-eslint",
  "env": {
    // I write for browser
    "browser": true,
    // in CommonJS
    "node": true
  },
  "extends": "airbnb",
  // To give you an idea how to override rule options:
  "rules": {
    "comma-dangle": [0],
    "quotes": [2, "single"],
    "eol-last": [0],
    "no-mixed-requires": [0],
    "no-underscore-dangle": [0],
    "no-var": [1],
    "no-else-return": [0],
    "react/no-did-mount-set-state": [1],
    "no-console": [0]
  }
}