body {
  background: cornsilk;
  font-family: sans-serif;
  }

button {
  font-weight: bold;
  font-size: 114%;
  width: 33%;
}

.app {
  width: 100%;
}

.day-name {
  padding: 4px 0 4px 4px;
  width: 98%;
}
.stages {
  width: 100%;
  margin-left: 2px;
}

.stage {
  padding-top: 10px;
  width: 33%;
  float: left;
}

.stage-name {
  font-size: 30px;
  margin-bottom: 10px;
  margin-left: 2px;
  text-decoration: underline;
  text-decoration-line: dotted;
}

.shows {
 /* max-width: 470px;*/
}

.show {
  margin-bottom: 10px;
  border-style: dotted;
  border-width: 1px;
  padding-left: 5px;
}

.do {
  background-color: #547369;
  color: white;
}

.fr {
  background-color: #fc9833;
}

.sa {
  background-color: #6e5d4a;
  color: white;
}

.Main-Stage {
  background-color: #f89848;
  color: black;
}

.Haus {
  background-color: #ffffff;
  color: black;
}

.B-Stage {
  background-color: #fdc99b;
  color: black; 
}

.band {
  font-size: 20px;
}